/*******************************************/
/*              BASE STYLES                */
/*******************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('../images/olympics.jpg');
  background-color: rgb(3, 19, 33);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  font-family: 'Poppins', sans-serif;
  padding: 0;
  text-align: center;
  color: white;

  height: 100vh;
  max-width: 100%;
  font-size: 1.6rem;
}

/*******************************************/
/*          WRAPPER | CONTAINERS           */
/*******************************************/

.container {
  display: flex;
  place-content: center space-evenly;
  flex-wrap: wrap;
}

.container.col {
  flex-flow: column wrap;
}

.container * {
  margin: 10px;
}

/*******************************************/
/*              TOGGLE STYLES              */
/*******************************************/

.hidden {
  display: none;
}

/*******************************************/
/*        HEADER | NAV | FOOTER            */
/*******************************************/

header {
  margin-bottom: 5rem;
}

nav {
  display: flex;
  place-content: center space-between;
  align-items: center;
}

@media screen and (min-width: 825px) {
  .burger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 825px) {
  nav .menu {
    display: none;
  }

  .burger {
    width: 35px;
    margin-right: 25px;
    z-index: 3;
  }

  .logo-text {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  nav .menu {
    display: none;
  }

  .burger {
    width: 35px;
    margin-right: 25px;
    z-index: 3;
  }

  .logo-text {
    font-size: 3rem;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: rgba(6, 20, 32, 0.75);
  z-index: 2;
  place-content: stretch start;
  align-items: stretch;
  transition: left 200ms linear 50ms;
}

.mobile-menu h2 {
  cursor: default;
  padding: 10% 0 5% 0;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: gold;
  text-underline-offset: 8px;
}

.mobile-menu > * {
  cursor: pointer;
  width: 100%;
  padding: 10% 0;
  margin: 0;
  transition: background-color 250ms linear
}

.mobile-menu h4:hover,
.mobile-menu h3:hover {
  background-color: rgb(18, 56, 92);

}

.logo-text {
  margin-left: 20px;
  border-top: 4px solid white;
  border-bottom: 4px solid gold;
  font-weight: 700;
  color: white;
  transition: color 300ms ease, border 300ms ease;
}

.logo-text:hover {
  color: silver;
  border-top: 4px solid silver;
  border-bottom: 4px solid gold;
  font-weight: 700;
}

.logo-text span {
  color: gold;
}

a {
  color: white;
  text-decoration: none;
}

ul.menu li {
  list-style: none;
}

ul.menu a {
  font-weight: 500px;
  color: white;
  transition: color 200ms ease-in;
}

ul.menu a:hover {
  color: gold;
}

h1,
h2,
h3 {
  font-weight: 500;
}


footer {
}

/*******************************************/
/*             INPUT | BUTTONS             */
/*******************************************/

.homepage__query * {
  margin: 0 -2px;
}

.homepage__query input {
  width: 65%;
  height: 42px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.homepage__query input:focus {
  border-radius: 0;
  outline: none;
  border: 2px solid rgba(255, 217, 0);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.homepage__query button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button {
  cursor: pointer;
  background-color: rgb(18, 56, 92);
  color: white;
  padding: 10px;
  border: 2px solid rgb(18, 56, 92);
  border-radius: 3px;
  transition: border 200ms, background-color 200ms, border 200ms;
}

button:hover {
  border: 2px solid rgb(15, 45, 73);
  background-color: rgb(15, 45, 73);
  color: gold;
}

button:active {
  background-color: rgb(11, 34, 55);
  border: 2px solid rgb(11, 34, 55);
}

.code-link {
  padding: 25px 0;
}

.code-link a {
  color: silver;
  transition: color 150ms linear;
}

.code-link a:hover {
  color: rgb(140, 140, 140)
}

.alert {
  color: red;
  padding: 10px;
  text-align: left;
}

/*******************************************/
/*               MAIN CONTENT              */
/*******************************************/

.leaders {
  margin: 1.5rem;
}

.medal-count {
  color:white;
}

.homepage__display {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.homepage__display,
.events__display {
  background: rgb(230, 230, 230);
  width: 100vw;
  padding: 3rem 0;
}

.query-country {
  width: 100%;
  margin: 0;
  padding: 0;
}
.country-name {
  background-color: rgb(11, 34, 55);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
}

.query-total-medals {
  background: rgb(18, 56, 92);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/***********/
/*  TOP 3  */
/***********/

.gold,
.silver,
.bronze {
  position: relative;
  cursor: pointer;
  border:  3px solid white;
  background-color: white;
  color: rgb(3, 19, 33);
  padding: 10px;
  border-radius: 5px;
  transition: background-color 250ms ease-in-out;
}

.gold-flag,
.silver-flag,
.bronze-flag {
  border: none;
}

.gold h1,
.silver h1,
.bronze h1 {
  position: absolute;
  bottom: 40px;
  right: -5px;
  font-size: 5rem;
}

.gold h3,
.silver h3,
.bronze h3 {
  text-align: left;
}

/**********/
/*  GOLD  */
/**********/

.gold:hover {
  background: rgba(255, 217, 0, 0.5);
  color: white;
}

/************/
/*  SILVER  */
/************/

.silver:hover {
  background: rgba(192, 192, 192, 0.5);
  color: white;
}

/************/
/*  BRONZE  */
/************/

.bronze:hover {
  background: rgba(166, 73, 16, 0.5);
  color: white
}

/************/
/*  CARDS   */
/************/

@media screen and (max-width: 825px) {

  .country-card {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 40%;

    margin: 0;
    padding: 0;

    box-shadow: 2px 3px 20px rgb(3, 19, 33)
  }

}

@media screen and (max-width: 480px) {

  .country-card {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 85%;

    margin: 0;
    padding: 0;

    box-shadow: 2px 3px 20px rgb(3, 19, 33)
  }

}


@media screen and (min-width: 825px) {

  .country-card {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 35%;

    margin: 0;
    padding: 0;

    box-shadow: 2px 3px 20px rgb(3, 19, 33)
  }

}