/*******************************************/
/*              BASE STYLES                */
/*******************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('../images/olympics.jpg');
  background-color: rgb(3, 19, 33);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 100vh;
  max-width: 100%;
  font-size: 1.6rem;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: center;
  color: white;
}

/*******************************************/
/*          WRAPPER | CONTAINERS           */
/*******************************************/

.container {
  display: flex;
  place-content: center space-evenly;
  flex-wrap: wrap;
  /* border: 3px solid white; */
}

.container.col {
  flex-flow: column wrap;
}

.container * {
  margin: 10px;
}

/*******************************************/
/*              TOGGLE STYLES              */
/*******************************************/

.hidden {
  display: none;
}

/*******************************************/
/*        HEADER | NAV | FOOTER            */
/*******************************************/

header {
  margin-bottom: 5rem;
}

nav {
  display: flex;
  place-content: center space-between;
  align-items: center;
  padding-left: 20px;
}

@media screen and (min-width: 780px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  nav .menu {
    display: none;
  }

  .burger {
    width: 35px;
    margin-right: 15px;
  }

  .logo-text {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  nav .menu {
    display: none;
  }

  .burger {
    width: 35px;
    margin-right: 15px;
  }

  .logo-text {
    font-size: 3rem;
  }
}

.logo-text {
  border-top: 4px solid white;
  border-bottom: 4px solid gold;
  font-weight: 700;
  color: white;
  transition: color 300ms ease, border 300ms ease;
}

.logo-text:hover {
  color: silver;
  border-top: 4px solid silver;
  border-bottom: 4px solid gold;
  font-weight: 700;
  /* border-left: 4px solid silver;
  padding-left: 5px; */
}

.logo-text span {
  color: gold;
}

a {
  color: white;
  text-decoration: none;
}

ul.menu li {
  list-style: none;
}

ul.menu a {
  font-weight: 500px;
  color: white;
  transition: color 200ms ease-in;
}

ul.menu a:hover {
  color: gold;
}

h1,
h2,
h3 {
  font-weight: 500;
}


footer {
}

/*******************************************/
/*             INPUT | BUTTONS             */
/*******************************************/

.homepage__query * {
  margin: 0 -2px;
}

.homepage__query input {
  padding: 10px 5px;
  border: 2px solid white;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.homepage__query button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button {
  background-color: rgb(18, 56, 92);
  color: white;
  padding: 10px;
  border: 2px solid rgb(18, 56, 92);
  border-radius: 3px;
  transition: border 200ms, background-color 200ms, border 200ms;
}

button:hover {
  border: 2px solid rgb(15, 45, 73);
  background-color: rgb(15, 45, 73);
  color: gold;
}

button:active {
  background-color: rgb(11, 34, 55);
  border: 2px solid rgb(11, 34, 55);
}

/*******************************************/
/*               MAIN CONTENT              */
/*******************************************/

.leaders {
  margin: 1.5rem;
}

.medal-count {
  color:white;
}

/**********/
/*  GOLD  */
/**********/

.first {
  /* border: 5px solid white;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}

.first h1 {
  color: gold;
}

.gold-flag {
  border: 2px solid gold;
}

/************/
/*  SILVER  */
/************/

.second {
}

.second h1 {
  color: silver;
}

.silver-flag {
  border: 2px solid silver;
}

/************/
/*  BRONZE  */
/************/

.third {
}

.third h1 {
  color: rgb(133, 50, 9);
}

.bronze-flag {
  border: 2px solid rgb(133, 50, 9);
}

@media screen and (max-width: 480px) {

  .country-card {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 75%;

    margin: 0;
    padding: 0;

    box-shadow: 2px 3px 20px rgb(3, 19, 33)
  }

}

@media screen and (max-width: 780px) {

  .country-card {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 40%;

    margin: 0;
    padding: 0;

    box-shadow: 2px 3px 20px rgb(3, 19, 33)
  }

}

@media screen and (min-width: 780px) {

  .country-card {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 35%;

    margin: 0;
    padding: 0;

    box-shadow: 2px 3px 20px rgb(3, 19, 33)
  }

}

.homepage__display {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.homepage__display,
.events__display {
  background: rgb(230, 230, 230);
  width: 100vw;
  margin: 5rem auto;
  padding: 3rem 0;
}

.query-country {
  width: 100%;
  margin: 0;
  padding: 0;
}
.country-name {
  background-color: rgb(11, 34, 55);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
}
.query-medal,
.query-total-medal {
  padding: 50px;
}
.query-medal {
  margin: 0;
}
.query-total-medal {
  background: rgb(18, 56, 92);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  margin: 0;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
